.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calci{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    width: 400px;
    height: 500px;
    margin: 0px;
    padding: 0px;
    
}

#delete{
    height: 100px;
    width: 100px;
    background-color: orange;
    font-size: 1rem;
}
#same{
    font-size: 3rem;
    color: white;
    height: 100px;
    width: 100px;
    background-color: black;
}
h1{
    text-align: center;
}
#display{
    grid-area: 1/1/1/4;
    height: 100px;
    background-color: black;
    opacity: 0.3;
    color: white;
    font-size: 3rem;
}
